<!DOCTYPE html>
<html>
    <head>
       <title>About Page</title>
       <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         {{>header}}
        <h1>{{title}} Page</h1>
         {{>footer}}
    </body>
</html>